.container {
    position: relative;
    width: 50px;
}

.icons_container_top, .icons_container_bottom {
    display: flex;
    flex-direction: column;
    padding:40px 10px;
    align-items: center;
    color: white;
    row-gap: 30px;
    height: 100vh;
}

.icons_container_top {
    justify-content: start;
}

.icons_container_bottom {
    justify-content: end;
}

.line_top, .line_bottom {
    position: absolute;
    left: 50%;
    transform: translateX('-50%');
    height: 40vh;
    width: 1px;
    background: #fff;
    overflow: hidden;
    animation: sidebarline 700ms ease-in-out;
}

.line_top{
    top: 10px;
}

.line_bottom {
    bottom: 10px;
}

.icon {
    position: relative;
    z-index: 5;
    height: 40px;
    width: 40px;
    padding: 5px;
    background:#000e21 ;
    cursor: pointer;

}

.bulb_icon {
    position: absolute;
    top: 40vh;
    right: 2.5px;
    z-index: 5;
    height: 40px;
    width: 40px;
    margin-top: -5px;
    padding-bottom:60vh ;
    background:#000e21 ;
    cursor: pointer;
    overflow-y: hidden;
    animation: bulbappear 700ms linear;
}


.icon:hover {
    transform: scale(1.1);
    transition: 200ms ease-in-out;
}


@keyframes sidebarline {
    from {
        height: 0vh;
    }
    to{
        height: 40vh;
    }
}

@keyframes bulbappear {
    0% {
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}