
.loader{
    position: relative;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* .loader::before{
    content: "";
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader::after{
    content: "";
    position: absolute;
    bottom:-50%;
    left:-50%;
    height: 200vw;
    width: 200vw;
    background: blue;
    animation:spin 10s ease-out;
    border-radius: 40%;

} */

.logo_container{
    position: relative;
    height: 120px;
    width: fit-content;
    padding:10px 20px;
    margin-left: 15px;
    margin-right: 15px;
    outline: 0;
    overflow: none;
 /* background: white;  */
}

#letterv, #letterp {
    stroke:white;
    stroke-width: 20;
}
#letterv{
    animation: linefillv 800ms linear, strokewidth 500ms ease-in infinite alternate-reverse;
}
#letterp{
    animation: linefillp 1s linear, strokewidth 500ms ease-in infinite alternate-reverse;
}

@keyframes linefillv {
 from {
  
     stroke-dasharray:2000 ;
     stroke-dashoffset:2000;
  
 }
 to{  
     stroke-dashoffset: 0;
 }
}

@keyframes linefillp {
 from {
    stroke-dasharray:1900 ;
    stroke-dashoffset:1900;
 }
 to{
    stroke-dashoffset: 6300;
 }
}

@keyframes strokewidth{
    from{
        stroke-width: 3;
    }
    to {
        stroke-width: 20;
    }
}

@keyframes spin {
    from {
        transform: translateY(0) rotate(0deg)  ;
    } 
    to{
        transform: translateY(-100%) rotate(500deg);
    }  
}
